@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex justify-center items-center;
  }

  .layoutContainer {
    @apply mx-auto max-w-[1600px] px-[15px] sm:px-[20px] lg:px-[25px] 2xl:px-[10px];
  }
}

.hero {
  background-image: url("/images/bg_leo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btnUnderLine {
  position: relative;
  width: fit-content;
}

.btnUnderLine::after {
  content: "";
  width: calc(100% + 10px);
  background: white;
  height: 1.5px;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.head_promo {
  background-image: url("/images/add_shoe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.side_promo {
  background-image: url("/images/add_cloth.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.noScrollBar::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}


.magnifyImageContainer {
  width: 746px;
  height: 479px;
  object-fit: cover;
  overflow: hidden;

}

.magnifyImageContainer>div {
  width: 100%;
  height: 100%;
}

.magnifyImageContainer>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}